@{
    ViewBag.Title = "Home Page";
}

<div class="disabled="disabled"" align="center">
    
   <h1>IPear</h1>
    <img src="~/imges/pear.png">

</div>

<div id="boton" align="center">
   <h3> <p>INICIAR SESIÓN CON:</p></h3>
    <p><a class="btn btn-primary btn-lg btn-danger" href="https://localhost:44376/Account/Login">GOOGLE +</a></p>
    <p><a class="btn btn-primary btn-lg btn-info" disabled="disabled">FACEBOOK</a></p>

</div>

<div class="row">
    <div >
        <h3>Nota:</h3>
       <h4> <p>
            Debe de iniciar sesión para poder Acceder al Menú
        </p>
        </h4>
       

    </div>


</div>