@{
    ViewBag.Title = "Registro de Teléfonos";
}
<h2>@ViewBag.Title.</h2>


<address>
</address>

<h4><p>Click al Botón para ir al Formulario </p></h4>
<p><a class="btn btn-primary btn-lg btn-block" href="https://localhost:44376/RegistroMVC/Create">Registrar Nuevo Teléfono</a></p>











<div>


    <p><a class="btn btn-danger" href="https://localhost:44376/">REGRESAR AL MENÚ</a></p>
</div>