@{
    ViewBag.Title = "Registro de Teléfonos";
}
<h2>@ViewBag.Title.</h2>


<address>
    Pagina de registro de Teléfonos
</address>


    <div class="jumbotron">
        <form>
            <div class="form-group">
                <label>Gama:</label>
                <select name="Gama">
                    <option value="1">XSs</option>
                    <option value="2">Max</option>
                    <option value="3">XR</option>
                    <option value="10">MAXr</option>
                    <option value="11">X</option>
                </select>
            </div>
            <div class="form-group">
                <label>Color:</label>
                <select name="Gama">
                    <option value="1">Blanco</option>
                    <option value="2">Azul</option>
                    <option value="3">Gris</option>
                    <option value="10">Verde</option>
                    <option value="11">Rojo</option>
                </select>
            </div>
            <div class="form-group">
                <label>País:</label>
                <select name="Gama">
                    <option value="1">Guatemala</option>
                    <option value="2">Brujas</option>
                    <option value="3">Londres</option>
                    <option value="10">Ámsterdam</option>

                </select>
            </div>

            <div class="form-group">
                <label>Valor:</label>
                <input type="text" id="valor" />
            </div>
        </form>
 </div>











<div>
  

    <p><a class="btn btn-danger" href="https://localhost:44376/">REGRESAR AL MENÚ</a></p>
</div>