@{
    ViewBag.Title = "Reportes Generales";
}
<h2>@ViewBag.Title.</h2>


<address>

</address>

<address>
    Pagina de Reportes Generales y Por gama:

    <br>
    <br>

    <p><a class="btn btn-primary btn-lg btn-block" href="https://localhost:44376/RegistroMVC">IR a Reporte General</a></p>
    <p><a class="btn btn-primary btn-lg btn-block" href="https://localhost:44376/Registro">IR a Reporte por Gama</a></p>
    <br>
    <div>
        <p><a class="btn btn-danger" href="https://localhost:44376/">REGRESAR AL MENÚ</a></p>
    </div>
</address>